header-toggle

/*define character set for CSS*/
@charset "utf-8";
/*Basic browser default resets */
html, body{
  border-color: #404040;
  border-width: 0px;
  border-style: none;
  margin: 0;
  padding: 0px;
}
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Classes
- Grid/ Element Layout
- Base/ global Styles
- Typography
- Links/ Navigation
*/
/* Grid/ Element Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*Classes*/

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  margin: 0px;
  padding: 0px;
}

.exhibit {
  background-size: cover;
  background-position: center;
  display: flex;
  height: calc(100vh / 3);
  width: calc(100vw / 3);
}

.exhibit.cut {
  background-size: cover;
  background-position: center;
  display: flex;
  height: 180px;
  width: 320px;
}

.exhibit:hover {
  background-blend-mode: multiply;
  background-color: #404040;
}

.header.background {
  align-items: center;
  background-color: #000000;
  display: flex;
  margin: 0 auto; /*centers the container in the broswer window */
  overflow: hidden; /*defines how the container deals with its content – in this case it ensures the container height as a coloured background will be visible if not covered by other elements */
  position: absolute;
  width: 100%;
}

.header.background.folio.cut {
  width: 960px;
  transform: translateX(0%);
}

.header.background.resume {
  align-items: center;
  background-color: #000000;
  display: flex;
  height: 270px;
}

.header.background.resume.cut {
  width: 960px
}

.header.foreground {
  align-items: center;
  justify-content: center;
  margin: 0 auto; /*centers the container in the broswer window */
  overflow: hidden; /*defines how the container deals with its content – in this case it ensures the container height as a coloured background will be visible if not covered by other elements */
  position: absolute;
  top: 0px;
  width: 100%;
}

.header.foreground.folio {
  height: 540px;
}

.header.foreground.folio.cut {
  width: 960px
}

.header.foreground.resume {
  height: 270px;
}

.header.foreground.resume.cut {
  width: 960px
}

.header.toggle {
  align-items: center;
  background-image: url("graphics/resume/header-idle-toggle-full.svg");
  background-size: cover;
  display: flex;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  user-select: none;
  width: 60px;
  z-index: 1;
}

.header.toggle.cut {
  background-image: url("graphics/resume/header-idle-toggle-cut.svg");
  transform: translateX(448px) translateY(8px);
}

.header.toggle.cut:hover {
  background-image: url("graphics/resume/header-hover-toggle-full.svg");
}

.header.toggle.full {
  background-image: url("graphics/resume/header-idle-toggle-full.svg");
  transform: translateX(calc(50vw - 32px)) translateY(8px);
}

.header.toggle.full:hover {
  background-image: url("graphics/resume/header-hover-toggle-cut.svg");
}

.modal {
  --bs-modal-width: 800px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.modal::-webkit-scrollbar {
    display: none;
}

.modal-body {
  background-color: #303030;
  border-image: linear-gradient(rgba(0,0,0,100), rgba(0,0,0,0)) 100% stretch;
  border-image-outset: 0px 0px 15px 0px;
  border-image-width: 0px 0px 15px 100%;
  border-style: solid;
  border-width: 16px 0px 16px 0px;
  justify-content: center;
}

.modal-footer {
  background-color: #202020;
}

.modal-header {
  background-color: #404040;
  border-image: linear-gradient(rgba(0,0,0,100), rgba(0,0,0,0)) 100% stretch;
  border-image-outset: 0px 0px 15px 0px;
  border-image-width: 0px 0px 15px 100%;
  border-style: solid;
  border-width: 16px 0px 16px 0px;
  justify-content: center;
  z-index: 1;
}

.block {
  background-color: #404040;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.button.home {
  background-image: url("graphics/nav-idle.svg");
  float: right;
  height: 96px;
  position: sticky;
  user-select: none;
  width: 96px;
  z-index: 4;
}

.button.home.folio {
  top: -508px;
  transform: translateX(calc(-50vw + 48px)) translateY(524px);
}

.button.home.folio:hover {
  align-items: center;
  background-image: url("graphics/nav-hover.svg");
}

.button.home.folio.cut {
  transform: translateX(-432px) translateY(524px);
}

.button.home.folio.cut:hover {
  align-items: center;
  background-image: url("graphics/nav-hover.svg");
}

.button.home.resume {
  top: -238px;
  transform: translateX(calc(-50vw + 48px)) translateY(254px);
}

.button.home.resume:hover {
  background-image: url("graphics/nav-hover.svg");
}


.button.nav.home.resume.cut {
  transform: translateX(-432px) translateY(254px);
}

.button.nav {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.button.nav.contact {
  background-image: url("graphics/resume/nav-idle-contact.svg");
}

.button.nav.contact:hover {
  background-image: url("graphics/resume/nav-hover-contact.svg");
}

.button.nav.folio {
  background-image: url("graphics/resume/nav-idle-folio.svg");
}

.button.nav.folio:hover {
  background-image: url("graphics/resume/nav-hover-folio.svg");
}

.button.nav.gallery {
  background-image: url("graphics/folio/nav-idle-gallery.svg");
}

.button.nav.gallery:hover {
  background-image: url("graphics/folio/nav-hover-gallery.svg");
}

.button.nav.info {
  background-image: url("graphics/folio/nav-idle-info.svg");
}

.button.nav.info:hover {
  background-image: url("graphics/folio/nav-hover-info.svg");
}

.button.nav.intro {
  background-image: url("graphics/resume/nav-idle-intro.svg");
}

.button.nav.intro:hover {
  background-image: url("graphics/resume/nav-hover-intro.svg");
}

.button.nav.referred {
  background-image: url("graphics/resume/nav-idle-referred.svg");
}

.button.nav.referred:hover {
  background-image: url("graphics/resume/nav-hover-referred.svg");
}

.button.nav.studies {
  background-image: url("graphics/resume/nav-idle-studies.svg");
}

.button.nav.studies:hover {
  background-image: url("graphics/resume/nav-hover-studies.svg");
}

.button.nav.work {
  background-image: url("graphics/resume/nav-idle-work.svg");
}

.button.nav.work:hover {
  background-image: url("graphics/resume/nav-hover-work.svg");
}
.nav-content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto; /*centers the container in the broswer window */
  overflow: hidden; /*defines how the container deals with its content – in this case it ensures the container height as a coloured background will be visible if not covered by other elements */
  position: relative;
  top: -270px;
  width: 100%;
}

.nav-circle{
  background-image: url("graphics/nav-circle.svg");
  float: left;
  height: 153px;
  position: sticky;
  user-select: none;
  z-index: 2;
}

.nav-circle.folio{
  top: -508px;
  transform: translateX(calc(50vw - 89px)) translateY(508px);
  width: 178px;
}

.nav-circle.folio.cut {
  transform: translateX(391px) translateY(508px);
}

.nav-circle.resume{
  top: -238px;
  transform: translateX(calc(50vw - 89px)) translateY(238px);
  width: 178px;
}

.nav-circle.resume.cut {
  transform: translateX(391px) translateY(238px);
}

.nav-shadow{
  background-image: linear-gradient(rgba(0,0,0,100), rgba(0,0,0,0));
  height: 25px;
  position: sticky;
  top: 64px;
  width: 100%;
  z-index: 1;
}

.noscroll {
  width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noscroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  margin: 0px;
  padding: 0px;
}

.spolight {
  transform: translateX(-100%);
}

.subheading-primary{
  font-size: 14pt;
  line-height: 14pt;
  margin: 8px 0px 0px 0px;
}

.subheading-secondary{
  font-size: 12pt;
  line-height: 12pt;
  margin: 8px 0px 0px 0px;
}

.shadow-left {
  background-image: linear-gradient(to left, rgba(0,0,0,100), rgba(0,0,0,0));
  height: 100%;
  width: 20px;
  position: fixed;
  transform: translateX(-20px);
}

.shadow-right {
  background-image: linear-gradient(to right, rgba(0,0,0,100), rgba(0,0,0,0));
  height: 100%;
  width: 20px;
  position: fixed;
  transform: translateX(960px);
}

.spotlightshowcut {
  transform: translateX(calc(480px - 50vw));
}

.text-hidden {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 18pt;
  line-height: 24pt;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
}

.text-justify {
  text-align: justify;
}

.text-justifyall {
  text-align: justify;
  text-align-last: justify;
}

.text-right {
  text-align: right;
  text-align-last: right;
}

.text-show.nav:hover .text-hidden {
  color: #f0f0f0;
  display: flex;
  font-size: 12pt;
  line-height: 12pt;
  visibility: visible;
  width: 500px;
}

.text-show.exhibit:hover .text-hidden {
  align-items: center;
  color: #D8D8D8;
  display: flex;
  font-size: 18pt;
  line-height: 24pt;
  margin-left: auto;
  margin-right: auto;
  visibility: visible;
}

.text-toggle {
  transform: translateX(-25%)
}

/*Classes*/

header.folio {
  float: none; /*If in doubt - float left - this makes elements stake toward the topleft of a container element - like a game of reverse Tetris */
  height: 540px;
  position: inherit;
  width: 100%; /*Notice the width is the same as our container – this is not required for full length elements but it’s a good habit to do it because its required if you want elements to sit next to each other like columns */
}

header.resume {
  float: none; /*If in doubt - float left - this makes elements stake toward the topleft of a container element - like a game of reverse Tetris */
  height: 270px;
  position: inherit;
  width: 100%; /*Notice the width is the same as our container – this is not required for full length elements but it’s a good habit to do it because its required if you want elements to sit next to each other like columns */
}

nav {
  align-items: center;
  background-color: #404040;
  display: flex;
  height: 64px;
  position: sticky;
  top: 0px;
  user-select: none;
  z-index: 3;
}

section {
  background-color: #202020;
  position: relative;
  width: 100%;
}

table {
  border-spacing: 0px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  table-layout : fixed;
  width: 100%;
}

td {
  padding: 0px 0px 0px 0px;
  vertical-align: top;
}

td.list {
  vertical-align: top;
}

input {
  width: calc(100% - 50px);
  height: 24px;
  font-size: 16px;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

button {
  width: calc(100% - 50px);
  height: 24px;
  font-size: 16px;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

button:hover {
  cursor: pointer;
}

textarea {
  width: calc(100% - 50px);
  font-size: 16px;
  height: 160px;
}

label {
  font-size: inherit;
}

aside{
  background-color: pink;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}

ul {
  font-size: 16pt;
  line-height: 32pt;
  margin: 25px 0px 25px 0px;
  display: block;
  list-style-type: disc;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 25px;
}

li {
  color: #D8D8D8;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14pt;
  padding-left: 0px;
  text-align: left;
}

footer.folio {
  background-color: #202020;
  clear: both; /* re floats - final element in a stack should clear floats so nothing beyound it can enter the stack - No floating elements allowed on either the left or the right side */
  font-size: 16pt;
  line-height: 24pt;
  text-align: center;
  width: 100%;
}

footer.folio.cut {
  font-size: 10pt;
}

footer.resume {
  background-color: #202020;
  clear: both; /* re floats - final element in a stack should clear floats so nothing beyound it can enter the stack - No floating elements allowed on either the left or the right side */
  font-size: 16pt;
  line-height: 24pt;
  width: 100%;
}

footer.resume.cut {
  font-size: 10pt;
}







/* Base/ global Styles
––––––––––––––––––––––––––––––––––––––––––––––––––

Tags/ selectors and their IDs or classes can be targeted or repeated in your CSS –
repeating the same style attributes is not best practice but repeating selectors to
break up your organization up is perfectly fine.
This is why you might see the body and others dealt with more than once.




*/

body {
  background: #202020;
  font-size: 14pt;
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0px;
}

body.cut {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  left: 0vw;
}



/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */



h1 {
  align-items: center;
  color: #80ff00;
  display: flex;
  font-family: "Lora", Times, serif;
  font-weight: bold;
  height: 270px;
  line-height: 50pt;
  margin: 0px;
  text-transform: uppercase;
}

h1.folio {
  font-size: 3.6vw;
  justify-content: center;
  text-align: center;
  transform: translateY(-48px);
}

h1.folio.cut {
  display: block;
  height: 135px;
  padding: 100px 50px 0px 50px;
  text-align-last: center;
  transform: translateY(-181px);
}

h1.resume {
  font-size: 2.4vw;
  padding-left: 7vw;
  text-align: left;
}

h1.resume.cut {
  display: block;
  height: 135px;r
  padding: 100px 50px 0px 50px;
  text-align-last: justify;
  transform: translateY(-64px);
}

h2 {
  align-items: center;
  color: #80ff00;
  display: flex;
  font-family: "Lora", Times, serif;
  font-size: 1.28vw;
  font-style: italic;
  font-weight: bold;
  height: 270px;
  line-height: 1.28vw;
  margin: 0px;
  text-align: right;
  text-transform: uppercase;
  vertical-align: middle;
}

h2.folio {
  justify-content: center;
  transform: translateY(50px);
}

h2.folio.cut {
  display: block;
  font-size: 12pt;
  height: 135px;
  padding-right: 50px;
  text-align-last: justify;
  transform: translateY(200px);
}

h2.resume {
  padding-left: 7vw;
  padding-right: 7vw;
}

h2.resume.cut {
  display: block;
  font-size: 12pt;
  height: 135px;
  padding-right: 3vw;
  text-align-last: justify;
  transform: translateY(50px);
}

h3{
  align-items: center;
  color: #D8D8D8;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 24pt;
  font-weight: bold;
  height: 100%;
  letter-spacing: 0.5pt;
  line-height: 32pt;
  margin: 25px 0px 25px 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  overflow: hidden;
  padding: 3rem;
  position: relative;
  text-align: center;
  top: -12px;
  width: calc(100% - 50px);
}

h4 {
  background-color: #404040;
  border-image: linear-gradient(rgba(0,0,0,100), rgba(0,0,0,0)) 100% stretch;
  border-image-outset: 0px 0px 15px 0px;
  border-image-width: 0px 0px 15px 100%;
  border-style: solid;
  border-width: 16px 0px 16px 0px;
  color: #f0f0f0;
  font-family: "Lora", Times, serif;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 0.5pt;
  line-height: 20pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 50px 0px 50px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

h4.popup {
  border-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)) 100% stretch;
  color: #f0f0f0;
  padding: 0px;
}

h5 {
  align-items: center;
  color: #D8D8D8;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  margin: 0px 0px 15px 0px;
  position: relative;
  text-align: left;
  transform: translateY(5px);
}

h6 {
  align-items: center;
  color: #D8D8D8;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16pt;
  font-style: italic;
  font-weight: bold;
  margin: 0px 0px 15px 0px;
  position: relative;
  text-align: left;
}

iframe {
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding-bottom: 0px;
  position: relative;
}

p {
  color: #D8D8D8;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14pt;
  line-height: 32pt;
  margin: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding: 0px;
}

footer.cut {
  color: #FFFFFF;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 12pt;
  line-height: 32pt;
  margin: 0px 0px 0px 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
}

video.header {
  height: 350%;
}

video.header.folio.full {
  transform: translateX(calc(50vw - 480px));
}

video.header.resume.cut {
  transform: translateX(-21.5%);
}

video.header.resume.full {
  transform: translateX(calc(50vw - 840px));
}

/* Links/ navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*global link treatment */

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #80ff00;
}

/*Main Navigation traetment */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}


nav ul li {

  float: left; /*change list to show links as a horizontal menu */
}


nav ul li a{

  display: block; /*display links as a block of space or colour */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*remove link underline */

}

/* Change the link color to #E89EFA on hover */
nav ul li a:hover {
  background-color: #E89EFA;
}
